
{% extends 'base.html.twig' %}

{% block title %}Nos Associations{% endblock %}

{% block body %}
    {% include "header/header.html.twig" %}
    
        <h1 class="mb-4 text-center">Nos Associations</h1>
        {% for user in users %}
            <div class='container mt-4'>
                <div class="card flex-row">
                    <img class="card-img-top" alt="..." style="width: 18rem;" src="{{asset('uploads/' ~ user.imageFileName)}}" >
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-between flex-column ">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title fw-bold">{{user.userAssoName}}</h5>
                                <div class="d-flex">
                                    {% if user.userLienInsta != null %}
                                        <p class="card-text me-3"><a class="fa-brands fa-instagram" href="{{user.userLienInsta}}"></a></p>
                                    {% endif %}
                                    {% if user.userLienFb != null %}
                                        <p class="card-text me-3"><a class="fa-brands fa-facebook" href="{{user.userLienFb}}"></a></p>
                                    {% endif %}
                                    {% if user.userLienX != null %}
                                        <p class="card-text me-3"><a class="fa-solid fa-x" href="{{user.userLienX}}"></a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="card-text"><strong>Description : </strong> <br>{{user.userAssoDescr}}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="voir le détail" data-id="{{user.id}}" class="modalon btn btn-secondary color-btn">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal modal-backdrop" tabindex="-1" id="modalMockup{{user.id}}">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title">{{user.userAssoName}}</h5>
                        </div>
                        <div class="modal-body">
                            {% if user.userSiteInternet != null %}
                                <p class="card-text me-3"><strong>Site Internet : </strong><a href="{{user.userSiteInternet}}">{{user.userSiteInternet}}</a></p>
                            {% endif %}
                            <p class="card-text me-3"><strong>Adess : </strong>{{user.userAssoAdress}}</p>
                            <p class="card-text me-3"><strong>Sport : </strong>{{user.userAssoSport}}</p>
                            <p class="card-text me-3"><strong>Tel : </strong>{{user.userAssoTel}}</p>
                            <p class="card-text me-3"><strong>Président : </strong>{{user.userPresident}}</p>
                            <p class="card-text me-3"><strong>Trésorier : </strong>{{user.userTresorier}}</p>
                            <p class="card-text"><strong>Description : </strong> <br>{{user.userAssoDescr}}</p>
                            <div class="d-flex">
                                {% if user.userLienInsta != null %}
                                    <p class="card-text me-3"><a class="fa-brands fa-instagram" href="{{user.userLienInsta}}"></a></p>
                                {% endif %}
                                {% if user.userLienFb != null %}
                                    <p class="card-text me-3"><a class="fa-brands fa-facebook" href="{{user.userLienFb}}"></a></p>
                                {% endif %}
                                {% if user.userLienX != null %}
                                    <p class="card-text me-3"><a class="fa-solid fa-x" href="{{user.userLienX}}"></a></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modalon color-btn" data-id="{{user.id}}">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucune association trouvée.</p>
            </div>
        {% endfor %}

    {% include "footer/footer.html.twig" %}
    <script src="https://kit.fontawesome.com/a20f40c291.js" crossorigin="anonymous"></script>
{% endblock %}
