{# templates/asso/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nos Associations{% endblock %}

{% block body %}
    {% include "header/header.html.twig" %}
    
        <h1 class="mb-4 text-center">Nos Associations</h1>
        {% for user in users %}
            <div class='container mt-4'>
                <div class="card flex-row">
                    <img class="card-img-top" alt="..." style="width: 18rem;" src="{{asset('uploads/' ~ user.imageFileName)}}" >
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{user.userAssoName}}</h5>
                        <div class="d-flex">
                            <p class="card-text me-3"><strong>Adess : </strong>{{user.userAssoAdress}}</p>
                            <p class="card-text me-3"><strong>Sport : </strong>{{user.userAssoSport}}</p>
                            <p class="card-text me-3"><strong>Tel : </strong>{{user.userAssoTel}}</p>
                        </div>
                        <p class="card-text"><strong>Description : </strong> <br>{{user.userAssoDescr}}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucune association trouvée.</p>
            </div>
        {% endfor %}
    {% include "footer/footer.html.twig" %}
{% endblock %}
