{% extends 'base.html.twig' %}

{% block title %}Hello AssoController!{% endblock %}

{% block body %}
    {% include "header/header.html.twig" %}
        {% for user in users %}
            <div class='container'>
                <div class="card flex-row">
                    <img class="card-img-top" alt="..." style="width: 18rem;" src="{{asset('uploads/' ~ user.imageFileName)}}" >
                    <div class="card-body">
                        <h5 class="card-title">{{user.userAssoName}}</h5>
                        <p class="card-text">Adess :{{user.userAssoAdress}}</p>
                        <p class="card-text">Sport : {{user.userAssoSport}}</p>
                        <p class="card-text">Tel :{{user.userAssoTel}}</p>
                        <p class="card-text">{{user.userAssoDescr}}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucune association trouvée.</p>
            </div>
        {% endfor %}
    {% include "footer/footer.html.twig" %}
{% endblock %}
